* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #d0e1f5;
    color: #333333; 
}

body.dark-mode {
    background-color: #333333;
    fill: #ffffff;
}
.dark-mode .card {
    background-color: #404047;
    box-shadow: 0 0 10px rgba(207, 207, 212, 0.5);;    
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.page-title {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 46px;
    color: #000000;
}
.dark-mode .page-title {
    color: #ffffff;
}
.card {
    width: 28%;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(35, 35, 135, 0.5);
    margin-bottom: 50px;
}

.card .title {
    font-size: 32px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.dark-mode .card .title{
    color: #ffffff;
}
.card .text {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #222222;
}

.dark-mode .card .text{
    color: #ffffff;
}

.toggle-mode {
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.toggle-mode:hover{
fill: rgb(240, 108, 47);
scale: 1.3;
}



/* =========================btn upward======================= */

.upward{
    position: fixed;
    bottom: 700px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #FF980D;
    border: 3px solid #581005;
   
    cursor: pointer;
    border-radius: 50%;    
    font-size: 20px; 
    line-height: 70px;
    
    font-weight: 800;
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
}

.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.upward:hover{
    background-color: rgb(255, 85, 0);    
    /* border: 3px solid #000000;     */
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #581005;
}

.dark-mode .upward{
    border: 3px solid #ffffff;
}
.dark-mode .arrow{
    fill:#ffffff
}